body{
    background-color: darkcyan;
    font-family: B Nazanin;
    font-size:x-large;
}
.content{
    text-align: right;
    position: relative;
    top: 10px;
    left: 3%;
    right: 3%;
    width: 94%;
    height: auto;
    padding-bottom: 10px;
    background-color: aliceblue;
}
.content-item{
    position: relative;
    top: 3px;
    padding: 10px;
    right: 2%;
    width: 95%;
    
}


.content-select{
    border: 2px solid darkcyan;
    position: relative;   
    padding: 10px;

}
.content-text{
    position: relative;
    border: 2px solid darkcyan;

    top: 5px;
    font-family: B Nazanin;
    padding: 10px;

}